.banner {
    background-image: url('https://uploads-ssl.webflow.com/606c4d4ed5ba7ca3bc774c4c/62064e8df3397dc069c2ba18_ebook2%20featured%20image.png');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px;
}

.left{
    width: 60%;
    min-height: 60vh;
    margin-left: 1vw;
    margin-top: 10%;
    color: white;
}

.downbutton {
    padding: 20px 25px;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 400;
    background: linear-gradient(to right, #1a62f2, #8a7bf5);
}

.section1 {
    display: flex;
    padding: 40px;
    justify-content: space-between;
}

h1, h2, p {
    margin:0;
}

.coloredback {
    border-radius: 10px;
    max-width: 1300px;
    padding: 5%;
    background-image: url(../assets/icons/backbg.png);
    border-radius: '20px';
    margin: 50;
    
}

.backimg {
    height: 26vw;
    border-radius: 10px;
    max-width: 1350px;
    background-image: url('https://uploads-ssl.webflow.com/606c4d4ed5ba7ca3bc774c4c/61c35be83abf43a0c35f8976_ebook-CTA-bg.png');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px;
    
}

.coloredh1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    width: 55%;
    margin: 4% auto 0;
    background: #1A62F2;
    background: -webkit-linear-gradient(to right, #1A62F2 10%, #8E70ED 40%, #DD4285 80%);
    background: -moz-linear-gradient(to right, #1A62F2 10%, #8E70ED 40%, #DD4285 80%);
    background: linear-gradient(to right, #1A62F2 10%, #8E70ED 40%, #DD4285 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card {
    margin : auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 27%;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px #e8e8e8;
    height: 350px;
}

.auth{
    margin : auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.auth img{
    align-items: center;
    padding-left: 200px;
}



.auth h2{
    padding-top: 30px;
    font-size: 40px;
}

.card p {
    font-size: 26px;
    font-weight: 500;
    color: #626262;
}

.card a {
    font-size: 24px;
    text-decoration: none;
    margin-top: 20px;
    color: #1A62F2;
    font-weight: 500;
}

/*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-image: url("../assets/icons/footbg.svg"); min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.text-center{ color:#CCC}


/* Credit to https://bootsnipp.com/snippets/bxDBA */